body {
    background-color: #f0f0f0;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.icon_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.jumbotron {
    background-image: url(../images/john-VRQ7siT4U2U-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 250px;
}

.jumbotron h1 {
    color: #FFF;
    margin-bottom: 0px;
    letter-spacing: 0.05em;
}

.user_name {
    margin: 0px;
    display: flex;
    align-items: center;
}

.user_name a {
    color: #202020;
    text-align: center;
}

.content {
    min-height: 300px;
    white-space: pre-wrap;
}

.content_image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.image_box {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_box img {
    width: 100%;
    height: auto;
}

.image_box_2 {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_form {
    background-image: url(../images/ergita-sela-3h5zbgge6g4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 45px;
}

.obipost {
    min-height: 300px;
    max-height: 400px;
}

.obipost_image {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    max-height: 250px;
}

.obipost_image img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.obicolelogo {
    font-size: 25px;
    color: #c6c6c6;
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: 1px 1px 2px silver;
    margin-bottom: 0;
}

.obipost_content {
    height: 45px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-1 {
    filter: blur(1px);
}

.nav-pills .pill .nav-link:not(.active) {
    background-color: #f0f0f0;
    color: #b0b0b0;
}

.nav-pills .pill .nav-link {
    background-color: #f0f0f0;
    color: #707070;
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: #f0f0f0;
    color: #b0b0b0;
}

.nav-pills .pill-2 .nav-link {
    background-color: #f0f0f0;
    color: #707070;
}

.page-item a {
    color: #3f3f3f;
}

.page-item.active .page-link {
    background-color: #5f5f5f;
    border-color: #5f5f5f;
}

.book_table {
    width: 150px;
}

.error-message {
    color: #ff4747;
}

.alertarea {
   color: #ff4747; 
   font-size: 10pt;
}

.alertarea:empty {
    display: none; 
    
}