body {
    background-color: #f0f0f0;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.icon_image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.jumbotron {
    background-image: url(../images/john-VRQ7siT4U2U-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
}

.jumbotron h1 {
    color: #FFF;
    margin-bottom: 0px;
    letter-spacing: 0.05em;
}

.user_name {
    margin: 0px;
    display: flex;
    align-items: center;
}

.user_name a {
    color: #202020;
    text-align: center;
}

.content {
    height: 250px;
    overflow: scroll;
}

.content_image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.image_box {
    height: 350px;
    overflow: scroll;
    display: flex;
    align-items: center;
    border-style: dotted;
    border-width: thin;
    border-color: #dfdfdf;
}

.search_form {
    background-image: url(../images/ergita-sela-3h5zbgge6g4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 45px;
}

/*.obipost {*/
/*    background-color: #ffffff;*/
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-color: #ffffff;*/
/*    margin-bottom: 10px;*/
/*    height: 300px;*/
/*}*/

.obipost_image {
    overflow: scroll;
    display: flex;
    align-items: center;
    /*height: 300px;*/
}

.obipost_image img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.obipost_content {
    height: 180px;
    line-height: 1.5;
    overflow: scroll;
    text-overflow: ellipsis;
    white-space: pre-line;
}

/*.user_image {*/
/*    height: 300px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    overflow: hidden;*/
    
/*}*/

/*.user_image img {*/
/*    width: 90%;*/
/*    height: auto;*/
/*}*/

.image-1 {
    filter: blur(1px);
}

.nav-pills .pill .nav-link:not(.active) {
    background-color: #f0f0f0;
    color: #b0b0b0;
}

.nav-pills .pill .nav-link {
    background-color: #f0f0f0;
    color: #707070;
}