@media screen and (max-width:767px) {
    h1 { 
        font-size: 13pt;
        word-wrap: break-word;
    }
    
    .jumbotron {
        background-image: url(../images/john-VRQ7siT4U2U-unsplash.jpg);
        background-size: cover;
        background-position: center;
        min-height: 150px;
        margin-bottom: 15px;
    }
    
    .content {
        min-height: 10px;
    }
        
    .card-body h4 {
        font-size: 13pt;
    }    
    
    .user_name {
        margin: 0px;
        display: flex;
        align-items: center;
        font-size: 12pt;
    }
    
    .user_name h5 {
        font-size: 12pt;
    }
    
    .image_box {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .container-sm {
        margin-left: 15px;
    }
    
    .search_form {
    background-image: url(../images/ergita-sela-3h5zbgge6g4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    }
    
    .search_form .form-inline {
        text-align: center;
    }
    
    .caption h5 {
        font-size: 13pt;
        margin-bottom: 20px;
    }

    .navtabs-sm {
        margin-top: 15px;
    }
    
    .obipost_image {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 150px;
    max-height: 200px;
    }
    
    .obipost_content {
    height: 35px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

    .search_button {
        margin-top: 5px;
    }
    
    .timestamp {
        font-size: 9pt;
        margin: 0px;
        padding-right: 0px;
        text-align: right;
    }
    
    .pill-2 a{
        font-size: 10pt;
    }
}
